<div class="column is-one-quarter">
	<nav class="panel">
	<p class="panel-heading">Top Posts</p>
    
    
    <% popular = Like.popular %>
                        
    <% popular.each do | like | %>

	<div class="panel-block">
                    <div class="content">
                    <p>
                        <%= like.post.post %>
                        </br>
                        <span class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                        <%= like.count %> <%= (like.count) == 1 ? 'Like' : 'Likes'%>
                    </p>
                    </div>
    </div>
    <% end %>
    
    </nav>
</div>
