<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
                <%= image_tag("Vikings_logo.jpg", :alt => "Vikings logo") %>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Danielle Hunter</strong>
						<small>@Sack_daddy</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
                <%= image_tag("Vikings_logo.jpg", :alt => "Vikings logo") %>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Kirk Cousins</strong>
						<small>@pizza_ranch_god</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
                <%= image_tag("Vikings_logo.jpg", :alt => "Vikings logo") %>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Mike Zimmer</strong>
						<small>@Zim_Zam_the_Flim_Flam</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>